.circle {
    width: 200px;
    height: 200px;
    background: pink;
    border-radius: 50%;
}

.circle .tick {
    width: 10px;
    height: 10px;
    background: #000;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-left: -5px;
    margin-top: -5px;
}

.circle .tick:nth-child(1) {
    transform: rotate(0deg) translate(100px);
  }
  .circle .tick:nth-child(2) {
    transform: rotate(90deg) translate(100px);
  }
  .circle .tick:nth-child(3) {
    transform: rotate(180deg) translate(100px);
  }
  .circle .tick:nth-child(4) {
    transform: rotate(270deg) translate(100px);
  }

$full-circle: 360;

.fold{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  .title{
    width: 25vw;
    height: 25vw;
    position: relative;
    transform: rotate(0deg);
    animation: spinningTitle 5s infinite linear;
    color: white;
    line-height: 0;
    
    @for $i from 1 through 14 {
      .letter-#{$i} {
        // text-align: center;
        font-family: Helvetica;
        transform-origin: center;
        position: absolute;
        transform: rotate( #{round(($full-circle / 14) * $i) }deg) translate(#{ round((20 / 14)) }vw);
        font-size: 4vw;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
      .letter{
        span{
          display: inline-block;
          transform: rotate(-#{($full-circle / 14) + 11 }deg);
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
}

@keyframes spinningTitle {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}